<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>TIME TABLE OF AMRITA</h2>

<table>
  <tr>
    <th>Branch</th>
    <th>Section</th>
    <th>Time Table</th>
  </tr>
  <tr>
    <th rowspan="3">CSE</th>
    <td>A SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>B SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>C SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <th rowspan="3">ECE</th>
    <td>A SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>B SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>C SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <th rowspan="3">MECH</th>
    <td>A SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none; border-left: 100px;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>B SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
  <tr>
    <td>C SEC</td>
    <td><div class="mb-3">
        <button type="submit" class="btn btn-primary">
        <a style="color: white; text-decoration: none;" href="https://drive.google.com/file/d/1eRY0uKRujqiN-26WAD7d6BcsN0jtSBzW/view?usp=sharing">TIMETABLE</a></button>
     </div></td>
  </tr>
</table>

</body>
</html>
